/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*font-family: 'poppins',sans-serif */
/*font-family: 'playfair Display',serif;*/

.navbar{
    font-family: "poppins",sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-bottom: 0 solid gray !important;
}
.nav-link{
    font-weight: 300 !important;
}
.nav-link.active{
    border-bottom: 2px solid black;
}

.navbar-brand{
    font-weight: 700;
    font-family: "roboto",sans-serif;
    letter-spacing: 3px;
}
.footer{
    color: white;
    padding: 25px;
    background: #000000;
    /*background: --webkit-linear-gradient(*/
    /*to right,*/
    /*#434343,*/
    /*#000000*/
    /*);*/
    background: linear-gradient(
    to right,
    #434343,
    #000000)
}
.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer a:hover{
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
}
.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title {
    font-size: 100px;
    font-weight: 700;
}

.pnf-heading {
    font-weight: normal;
}

.pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
.pnf-btn:hover {
    background-color: black;
    color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.policy-container {
    padding: 2rem;
}

.policy-container .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.policy-container h1 {
    margin-bottom: 1.5rem;
}

.policy-container p {
    line-height: 1.6;
    text-align: justify;
}
/* register page */

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}

/* Ant Design Overrides */
.ant-checkbox-wrapper {
    font-size: 16px;
    margin-bottom: 10px;
}

.ant-radio-wrapper {
    font-size: 16px;
    margin-bottom: 10px;
}
